*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

selection{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
 background: url(p.jpg) no-repeat;
 background-position: center;
 background-size: cover;

}

.LOGIN{
display: flex;
position: relative;
width: 400px;
height: 450px;
background:transparent;
border: 2px solid rgba(255, 255, 255, 0.5);
backdrop-filter: blur(15px);
justify-content: center;
align-items: center;

}

h2{
    font-size: 2em;
    color: beige;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 2px;
    left:2px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
}
input:focus ~ label,
input:valid ~ :label{
    top: -5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    font-size: 1em;
    outline: none;
    padding: 0 35px 0 5 px;
    color: #fff;
    
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
    
}

.forget{
    display: flex;
    color: #fff;
    justify-content: center;
    margin: -15px 0 15px;
    font-size: .9em;
    
    
}
.forget label input{
    margin-right: 3px;
}
.forget label{
    text-decoration: none;
    color: #fff;

}
.forget label a{
    text-decoration: none;
    color: #fff;
}
.forget label a:hover{
    text-decoration: underline;
    
}

button{
    width: 100%;
    height: 30px;
    border-radius: 30px;
    background: #fff;
    border: none;
    outline: none ;
    cursor: pointer;
    font-size: 1em;
    font height: 500;

}
