<header>
    <div class="spacer">
        <div class="logo item"></div>
        <div class="search item">
            <input type="text" placeholder="Search Products...">
        </div>
        <div class="account item"></div>
    </div>
</header>