<header>
    <div class="spacer">
        <div class="logo item">
            <span style="color: #3D8493;">P</span>
            <span style="color: #D89F65;">O</span>
            <span style="color: #4A5C2F;">S</span>
        </div>
        <div class="search item">
            <input type="text" placeholder="Search Products...">
        </div>
        <div class="account item"></div>
    </div>
</header>

<script>
    let displayTime = document.querySelector('.account')

    function displayCurrentTime() {
        const currentDateTime = new Date();
        const date = currentDateTime.toLocaleDateString();
        const time = currentDateTime.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });

        displayTime.innerHTML = `${date},  ${time}`
        
        console.log(`${date} ${time}`);
    }

    displayCurrentTime();

    setInterval(displayCurrentTime, 60000);
</script>