<div class="side-bar">
    <div class="section"><ion-icon name="grid-outline"></ion-icon></div>
    <div class="section"><ion-icon name="file-tray-stacked-outline"></ion-icon></div>
    <div class="section"><ion-icon name="bag-handle-outline"></ion-icon></div>
    <div class="section"> <ion-icon name="person-circle-outline"></ion-icon></div>

</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>