/*CSS Styles for Home Page only*/

nav{
    background-color: whitesmoke;
    width: 500px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 65px;
    margin: 0 auto;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
    background-color: whitesmoke;
}

nav ul{
    background-color: whitesmoke;
}

a{
    text-decoration: none;
    background-color: inherit;
    color: black;
}

.prod-list{
    width: 45%;
    height: 100vh;
    margin-left: 27%;
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: flex-start;
}

.order{
    height: 75vh;
    width: 15%;
    position: fixed;
    top:65px;
    right: 10%;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

table{
    width: 100%;
    min-height: 200px;
    background-color: black;
    
}

table th{
    height: 20px;
    background-color: white;
}

table td{
    background-color: whitesmoke;
}

h3{
    margin: 15px 0;
    background-color: whitesmoke;
    text-align: center;
}

.order button{
    margin: 30px;
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(190, 186, 186);
    font-weight: bold;
    font-size: 15px;
}

.products{
    width: 170px;
    height: 200px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 10px;
}

