/*CSS Styles for the entire website in general*/
/*Font linking*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: rgb(237, 188, 171);
}

header{
    height: 70px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 3;
    border-bottom: solid 1px rgb(220, 215, 215);
    display: flex;
    align-items: center;
}

/* .spacer{
    width: 80%;
    height: 100%;
    margin: 0 10%;

    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.item{
    height: 40px;
    width: 40px;
    background-color: whitesmoke;
}

.logo{
    display: inline-block;
    height: 40px;
    width: 95px;
    background-color: inherit;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-left: 20px;
}

.logo span:nth-child(1){
    background-color: inherit;
    color: #3D8493;
}

.logo span:nth-child(2){
    background-color: inherit;
    color: #4A5C2F;
}

.logo span:nth-child(3){
    background-color: inherit;
    color: #D89F65;
}

/* .search{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
} */

input{
    height: 45px;
    width: 357px;
    left: 198px;
    top: 0px;
    border-radius: 0px;
    border-radius: 10px;
    margin-left: 100px;
    padding: 0 20px;
    border: none;
    background-color: #ECF3F5;
    
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5px;
    background-color: #FFFFFF;
    height: 100vh;
    width: 5%;
    position: fixed;
    top:0;
    left: 0;
    padding-top: 120px;
}


.section{
    display: flex;
    font-family:'Anton', sans-serif;
    font-size: 15px;
    height: 30px;
    width: 80%;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFFFFF;
   
}

ion-icon {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: inherit;
  transition: 200ms;
}
ion-icon:hover{
    color: rgb(255, 85, 0);
}


.Pop-up {
    position: fixed;
    height: 100px;
    width: 100px;
    background-color: blue;
    left: 50%;
    top: 200px;
    display: none;
}