<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <%- include("./partials/header") %>
    <div class="parent">

        <%- include("./partials/sidebar") %>

        <!--Center Navigation Bar-->
        <nav>
            <ul>
                <li> <a href="#">MAIN COURSE</a></li>
                <li><a href="#">APPETIZERS</a></li>
                <li><a href="#">DESSSERTS</a></li>
                <li><a href="#">DRINKS</a></li>
            </ul>
        </nav>
        
        <!--Order Bar-->
        <div class="order">
            <h3>CURRENT ORDER</h3>
            <table>
                <tr>
                    <th>Qty.</th>
                    <th>Item</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <button onclick="showbox()">Payment</button>
        </div>
    </div>
    <div class = "Pop-up"><input type="button" value=" "></div>
    <!--Products Container-->
    <div id="prod-list" class="prod-list"></div>
    <script src="/script/script.js"></script>

    <!--linking Icons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>