<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/styles/inventory.css">
</head>

<body>
    <%- include("./partials/header") %>
    <div class="headings">
        <h1>PRODUCT INVENTORY</h1>
    </div>
    <div class="topcontent">
        <button>DELETE</button>
        <select>
        <option>New Item</option>
        <option>Main</option>
        <option>Side Dish</option>
        <option>Dessert</option>
    </select>

    </div>
    <div class="down">
    <div>
        <span>Category:</span>
        <select>
            <option>All</option>
            <option>Main</option>
            <option>Side Dish</option>
            <option>Dessert</option>
        </select>
    </div>
    <div>
        <span>Invetory Type:</span>
        <select>
            <option>Inventory Type</option>
            <option>Main</option>
            <option>Side Dish</option>
            <option>Dessert</option>
        </select>
    </div>
    </div>

    
    <div class="parent">
        <%- include("./partials/sidebar") %>


    <table class="tablecontent">
        <tr>
            <th></th>
            <th>ID</th>
            <th>Item</th>
            <th>Category</th>
            <th>Cost</th>
            <th>Price</th>
            <th>Margin</th>
            <th>Quantity</th>
            <th>Total Cost</th>
            <th>Total Value</th>
            <th>Status</th>
        </tr>

        <tr>
            <td class="inputbox"><input type="checkbox" name="" id=""></td>
            <td>001</td>
            <td>WINGS</td>
            <td>Main</td>
            <td>149.00</td>
            <td>149.00</td>
            <td>10%</td>
            <td>30</td>
            <td>4470</td>
            <td>4500</td>
            <td>Active</td>

        </tr>
        <tr>
            <td><input type="checkbox" name="" id=""></td>
            <td>001</td>
            <td>WINGS</td>
            <td>Main</td>
            <td>149.00</td>
            <td>149.00</td>
            <td>10%</td>
            <td>30</td>
            <td>4470</td>
            <td>4500</td>
            <td>Active</td>

        </tr>
        <tr>
            <td><input type="checkbox" name="" id=""></td>
            <td>001</td>
            <td>WINGS</td>
            <td>Main</td>
            <td>149.00</td>
            <td>149.00</td>
            <td>10%</td>
            <td>30</td>
            <td>4470</td>
            <td>4500</td>
            <td>Active</td>

        </tr>
        <tr>
            <td><input type="checkbox" name="" id=""></td>
            <td>001</td>
            <td>WINGS</td>
            <td>Main</td>
            <td>149.00</td>
            <td>149.00</td>
            <td>10%</td>
            <td>30</td>
            <td>4470</td>
            <td>4500</td>
            <td>Active</td>

        </tr>
        <tr>
            <td><input type="checkbox" name="" id=""></td>
            <td>001</td>
            <td>WINGS</td>
            <td>Main</td>
            <td>149.00</td>
            <td>149.00</td>
            <td>10%</td>
            <td>30</td>
            <td>4470</td>
            <td>4500</td>
            <td>Active</td>

        </tr>
        <tr>
            <td><input type="checkbox" name="" id=""></td>
            <td>001</td>
            <td>WINGS</td>
            <td>Main</td>
            <td>149.00</td>
            <td>149.00</td>
            <td>10%</td>
            <td>30</td>
            <td>4470</td>
            <td>4500</td>
            <td>Active</td>

        </tr>

    
    </table>

    </div>


</body>