<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/styles/order.css">
</head>

<body>
    <%- include("./partials/header") %>
    
    <div class="parent">
        <%- include("./partials/sidebar") %>
        
        <div class = "order-container">
            <div class="orderbox">    
                <div class="order">  
                    <div style="border-bottom-left-radius: 30px;" class="order-box">
                        <span  style="background-color: #EAF0F0;            
                        border-top-left-radius: 15px;
                        height: 5vh;
                        "><p>ITEM</p></span>
                        <span><p>CHICKEN</p></span>
                        <span><p>SALAD</p></span>
                        <span><p>CORNDOG</p></span>
                    </div>

                    <div style="border-bottom-right-radius: 30px; " class="order-box">
                        <span style="background-color: #EAF0F0;
                        border-top-right-radius: 15px;
                        height: 5vh;"
                        ><p>QTY</p></span>
                        <span><p>1</p></span>
                        <span><p>2</p></span>
                        <span><p>3</p></span>
                    </div>
                </div>

                <div class="buttons-box">
                    <button style="background-color: #EC5A5A;">CANCEL ORDER</button>
                    <button style="margin-bottom: 20px;
                    background-color: #8BB5BE;">MARK AS DONE</button>
                </div>
            </div>

        <div class="orderbox">    
            <div class="order">  
                <div style="border-bottom-left-radius: 30px;" class="order-box">
                    <span  style="background-color: #EAF0F0;            
                    border-top-left-radius: 15px;
                    height: 5vh;
                    "><p>ITEM</p></span>
                    <span><p>CHICKEN</p></span>
                    <span><p>SALAD</p></span>
                    <span><p>CORNDOG</p></span>
                </div>

                <div style="border-bottom-right-radius: 30px; " class="order-box">
                    <span style="background-color: #EAF0F0;
                    border-top-right-radius: 15px;
                    height: 5vh;"
                    ><p>QTY</p></span>
                    <span><p>1</p></span>
                    <span><p>2</p></span>
                    <span><p>3</p></span>
                </div>
            </div>

            <div class="buttons-box">
                <button style="background-color: #EC5A5A;">CANCEL ORDER</button>
                <button style="margin-bottom: 20px;
                background-color: #8BB5BE;">MARK AS DONE</button>
            </div>
        </div>

        <div class="orderbox">    
            <div class="order">  
                <div style="border-bottom-left-radius: 30px;" class="order-box">
                    <span  style="background-color: #EAF0F0;            
                    border-top-left-radius: 15px;
                    height: 5vh;
                    "><p>ITEM</p></span>
                    <span><p>CHICKEN</p></span>
                    <span><p>SALAD</p></span>
                    <span><p>CORNDOG</p></span>
                </div>

                <div style="border-bottom-right-radius: 30px; " class="order-box">
                    <span style="background-color: #EAF0F0;
                    border-top-right-radius: 15px;
                    height: 5vh;"
                    ><p>QTY</p></span>
                    <span><p>1</p></span>
                    <span><p>2</p></span>
                    <span><p>3</p></span>
                </div>
            </div>

            <div class="buttons-box">
                <button style="background-color: #EC5A5A;">CANCEL ORDER</button>
                <button style="margin-bottom: 20px;
                background-color: #8BB5BE;">MARK AS DONE</button>
            </div>
        </div>

        <div class="orderbox">    
            <div class="order">  
                <div style="border-bottom-left-radius: 30px;" class="order-box">
                    <span  style="background-color: #EAF0F0;            
                    border-top-left-radius: 15px;
                    height: 5vh;
                    "><p>ITEM</p></span>
                    <span><p>CHICKEN</p></span>
                    <span><p>SALAD</p></span>
                    <span><p>CORNDOG</p></span>
                </div>

                <div style="border-bottom-right-radius: 30px; " class="order-box">
                    <span style="background-color: #EAF0F0;
                    border-top-right-radius: 15px;
                    height: 5vh;"
                    ><p>QTY</p></span>
                    <span><p>1</p></span>
                    <span><p>2</p></span>
                    <span><p>3</p></span>
                </div>
            </div>

            <div class="buttons-box">
                <button style="background-color: #EC5A5A;">CANCEL ORDER</button>
                <button style="margin-bottom: 20px;
                background-color: #8BB5BE;">MARK AS DONE</button>
            </div>
        </div>

        <div class="orderbox">    
            <div class="order">  
                <div style="border-bottom-left-radius: 30px;" class="order-box">
                    <span  style="background-color: #EAF0F0;            
                    border-top-left-radius: 15px;
                    height: 5vh;
                    "><p>ITEM</p></span>
                    <span><p>CHICKEN</p></span>
                    <span><p>SALAD</p></span>
                    <span><p>CORNDOG</p></span>
                </div>

                <div style="border-bottom-right-radius: 30px; " class="order-box">
                    <span style="background-color: #EAF0F0;
                    border-top-right-radius: 15px;
                    height: 5vh;"
                    ><p>QTY</p></span>
                    <span><p>1</p></span>
                    <span><p>2</p></span>
                    <span><p>3</p></span>
                </div>
            </div>

            <div class="buttons-box">
                <button style="background-color: #EC5A5A;">CANCEL ORDER</button>
                <button style="margin-bottom: 20px;
                background-color: #8BB5BE;">MARK AS DONE</button>
            </div>
        </div>

        <div class="orderbox">    
            <div class="order">  
                <div style="border-bottom-left-radius: 30px;" class="order-box">
                    <span  style="background-color: #EAF0F0;            
                    border-top-left-radius: 15px;
                    height: 5vh;
                    "><p>ITEM</p></span>
                    <span><p>CHICKEN</p></span>
                    <span><p>SALAD</p></span>
                    <span><p>CORNDOG</p></span>
                </div>

                <div style="border-bottom-right-radius: 30px; " class="order-box">
                    <span style="background-color: #EAF0F0;
                    border-top-right-radius: 15px;
                    height: 5vh;"
                    ><p>QTY</p></span>
                    <span><p>1</p></span>
                    <span><p>2</p></span>
                    <span><p>3</p></span>
                </div>
            </div>

            <div class="buttons-box">
                <button style="background-color: #EC5A5A;">CANCEL ORDER</button>
                <button style="margin-bottom: 20px;
                background-color: #8BB5BE;">MARK AS DONE</button>
            </div>
        </div>    
    </div>

</body>
</html>