<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/styles/access.css">
</head>
<body>
    <div class="container-header">
        <div>
            <h1>MANAGE USERS</h1>
        </div>
        <div>
            <button>SAVE</button>
            <button>MANAGE</button>
        </div>
    </div>

    <%- include("./partials/header") %>
<div class="parent">
    <%- include("./partials/sidebar") %>


    
<table class="topbox">
    <tr>
        <th>USER ID</th>
        <th>NAME</th>
        <th>MENU</th>
        <th>ORDERS</th>
        <th>SALES</th>
    </tr>
    
    <% usersData.forEach((user) => { %>
        <tr>
            <td><%= user.user_id %></td>
            <td>Atty. Garret</td>
            <td><input type="checkbox" id="myCheckbox" <% if(user.hasMenuAccess){ %>checked<% } %>></td>
            <td><input type="checkbox" name=" " id=" " <% if(user.hasOrdersAccess){ %>checked<% } %>></td>
            <td><input type="checkbox" name=" " id=" " <% if(user.hasSalesAccess){ %>checked<% } %>></td>
        </tr>    
    <% }) %>
    
    
</table>
</div>
</body>
</html>