<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/styles/access.css">
</head>
<body>
    <div class="container-header">
        <div>
            <h1>MANAGE USERS</h1>
        </div>
        <div>
            <button>SAVE</button>
            <button class="Click-here">MANAGE</button>
        </div>
    </div>

    <%- include("./partials/header") %>
    <div class="parent">
        <%- include("./partials/sidebar") %>
  
        <table class="topbox">
            <tr>
                <th>USER ID</th>
                <th>NAME</th>
                <th>MENU</th>
                <th>ORDERS</th>
                <th>SALES</th>
            </tr>
            
            <% usersData.forEach((user) => { %>
                <tr>
                    <td><%= user.user_id %></td>
                    <td>Atty. Garret</td>
                    <td><input type="checkbox" id="myCheckbox" <% if(user.hasMenuAccess){ %>checked<% } %>></td>
                    <td><input type="checkbox" name=" " id=" " <% if(user.hasOrdersAccess){ %>checked<% } %>></td>
                    <td><input type="checkbox" name=" " id=" " <% if(user.hasSalesAccess){ %>checked<% } %>></td>
                </tr>    
            <% }) %>
        </table>
    </div>
    
    <!-- POP-UP BOX -->
    <div class="custom-model-main">
        <div class="custom-model-inner">        
        <div class="close-btn">×</div>
            <div class="custom-model-wrap">
                <div class="pop-up-content-wrap">
                <form class="manage-pup-up" action="" id="manage-users-frm">
                    <fieldset class="fs-search-user">
                        <legend>Search User</legend>
                        <input type="text" placeholder="User ID" class="userID">
                        <button onclick="getValues()">Search</button>
                    </fieldset>
                    
                    <fieldset class="fs-user-details">
                        <legend>User Details</legend>
                        <div>
                            <label for="name">Name</label>
                            <input type="text" name="name">
                        </div>
                        <br>
                        <div>
                            <label for="username" class="">Username</label>
                            <input type="text" name="username" class="username">
                        </div>
                        
                        <br>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" name="password" class="password">
                        </div>
                        
                        <br>
                        <div>
                            <label for="name">Access</label><br>
                            <input type="checkbox" name="name" class="menuCB">
                            <label for="">Menu</label><br>
                            <input type="checkbox" name="name" class="ordersCB">
                            <label for="">Orders</label><br>
                            <input type="checkbox" name="name" class="salesCB">
                            <label for="">Sales</label><br>
                        </div>
                        <div style="text-align: center; margin-top: 20px;">
                            <button>Add</button>
                            <button>Remove</button>
                            <button>Update</button>
                        </div>
                        
                        
                    </fieldset>
                </form>
                </div>
            </div>  
        </div>  
        <div class="bg-overlay"></div>
    </div>
    
    <script src="/script/popup.js"></script>
    <script>
        let searchData;
        let userID = {userid: ''};
        
        var form = document.getElementById("manage-users-frm");
        function handleForm(event) { event.preventDefault(); } 
        form.addEventListener('submit', handleForm);

        function fetchData(username){
            fetch('http://localhost:3000/user-access', {
                method: "POST",
                body: JSON.stringify(username),
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: "same-origin"
                }).then(function(response) {
                    return response.json();
                }).then((data)=>{
                    searchData = data.userSearch[0]
                    console.log(searchData)
                })
        }

        function setValues(){
            document.querySelector('.username').value = searchData.user_id
            document.querySelector('.password').value = searchData.user_password
            document.querySelector('.menuCB').checked = searchData.hasMenuAccess
            document.querySelector('.ordersCB').checked = searchData.hasOrdersAccess
            document.querySelector('.salesCB').checked = searchData.hasSalesAccess
        }

        function getValues(){
            let username = document.querySelector('.userID').value;
            userID.userid = username;
            fetchData(userID);
            console.log(searchData)
            setValues();
        }




    </script>
</body>
</html>