/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: 'Quicksand';
}

header{
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 3;
    border-bottom: solid 1px rgb(220, 215, 215);
    display: flex;
    align-items: center;
    top: 0;
} 
.spacer{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ECEDED ;

    background-color:white;
    display: flex;
    align-items: center;
} 
.logo{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: darkgray;
    margin-left: 20px;
    cursor: pointer;
}

.search{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 130px;
    height: 50px;
}
input{
    height: 45px;
    width: 357px;
    left: 198px;
    top: 0px;
    border-radius: 0px;
    border-radius: 10px;
    margin-left: 100px;
    padding: 0 20px;
    border: none;
    background-color: #ECF3F5;
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5px;
    background-color: #FFFFFF;
    height: 100vh;
    width: 5%;
    position: fixed;
    top:0;
    left: 0;
    padding-top: 120px;
    border-right: 1px solid #ECEDED;
}


.section{
    display: flex;
    font-family:'Anton', sans-serif;
    font-size: 15px;
    height: 30px;
    width: 80%;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFFFFF;
   
}

ion-icon {
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: inherit;
  transition: 200ms;
}
ion-icon:hover{
    color:  rgb(83, 141, 83);
    cursor: pointer;
}  */

*{
    font-family: 'Quicksand';
}
.topbox{
    margin-top: 8%;
    width: 80%;
    height: auto;
    margin-left: 150px;
    /* box-shadow: 20px -20px black,20px -20px white;
    box-shadow: ; */
}
.topbox input{
    height: 14px;
    width: 14px;
    margin-right: 45%;
}

.parent {
    display: flex;
    position: relative;

}
.topbox td{
    text-align: center;
    background-color: rgb(219, 218, 218);
    height: 50px;
}

.topbox th{
    background-color: rgb(173, 173, 245);
    height: 50px;
}

.container-header{
    display: flex;
    z-index: 1000;
    justify-content: space-around;
    position: relative;
    width: 100%;
    top: 100px;
    background-color: inherit;
}

button{
    height: 40px;
    width: 80%;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: rgb(224, 223, 223);
}

.custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 700px;
    margin: 30px auto;
    max-width: 97%;
  }
  .custom-model-wrap {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
      overflow-y: auto;
  }
  .model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
  }
  .model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }
  .bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #fff;
  }

  .manage-pup-up{
    padding: 20px;
  }

  .manage-pup-up fieldset{
    padding: 20px;
    margin: 10px;
    display: grid;

  }

  .manage-pup-up fieldset button{
    width: 100px;
  }

  .manage-pup-up fieldset input{
    margin-left: 0;
    width: 92%;
  }

  .manage-pup-up input[type='checkbox']{
    height: 20px;
    text-align: left;
    width: 20px;
  }

  .fs-user-details{
    display: grid;
  }

  

  
@media screen and (min-width:800px){
	.custom-model-main:before {
	  content: "";
	  display: inline-block;
	  height: auto;
	  vertical-align: middle;
	  margin-right: -0px;
	  height: 100%;
	}
}
@media screen and (max-width:799px){
  .custom-model-inner{margin-top: 45px;}
}

