/*CSS Styles for Home Page only*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    font-family:'Quicksand', sans-serif;  
}

nav{
    background-color: #EAF0F0;
    font-family:'Quicksand', sans-serif;
    font-size: 1vw;
    width: 73%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 70px;
    left: 78px;
    z-index: 10;
}

nav ul li{
    display: flex;
    margin: 0 20px;
    background-color: #d9d9d9;
    width: 13%;
    height: 45px;
    list-style: none;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

nav ul li:hover{
    background-color: rgb(83, 141, 83);
    cursor: pointer;
}

nav ul{
    background-color: inherit;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    background-color: inherit;
    color: black;
}
nav ul li:hover a{
color:white;
}
.prod-list{
    width: 60%;
    height: 100vh;
    margin-left: 10%;
    margin-top: 170px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.order{
    height: 100vh;
    width: 20%;
    position: fixed;
    top:50px;
    right: 0;
    background-color: #FFF;
    border-left: solid gray;
    padding: 10px;
    border-left: solid 1px rgb(220, 215, 215);
}
.order h3{
    color: #2C3832;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    margin: 40px 0 0 0;
    padding-bottom: 30px;
    border-bottom: 2px dotted #A9A9A9;
}

.order-list{
    position: relative;
    background-color: #EAF0F0;
    width: 100%;
    height: 70px;
    border-radius: 14px;
    margin: 10px auto;
}

.order-child{
    height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
}

.order-img{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.order-label{
    font-family: 'Quicksand';
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    background-color: inherit;
}

.products{
    width: 203px;
    height: 214px;
    border-radius: 15px;
    background-color: #D8E6E9;
    margin: 10px;
    text-align: center;
    position: relative;
}

.products img{
    height: 70%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    transition: 300ms;
}

.products p{
    font-family: 'Quicksand';
    background-color: inherit;
    font-size: 17px;
    margin: 5px auto;
    display: inline-block;
    width: 80%;
}

.products button{
    height: 47px;
    width: 94px;
    position: absolute;
    top: 90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 7px;
    border: none;
    background-color: #D89F65;
    font-size: 20px;
    cursor: pointer;
    transition: 300ms;
    opacity: 0;
}

.products:hover img{
    filter: brightness(40%) hue-rotate(10deg);
}

.products:hover button{
    top: 50px;
    opacity: 100%;
}

.payment-breakdown{
    width: 100%;
    height: 30vh;
    border: dashed 2px #A9A9A9;
    margin-top: 20px;
    text-align: center;
}

.payment-breakdown table{
    border-collapse: collapse;
    /* border-bottom: 2px dotted #A9A9A9; */
}

.payment-breakdown table tr,
.payment-breakdown table th{
    padding: 8px;
    font-size: 1vw;
}

.payment-breakdown table th{
    text-align: left;
    width: 200px;
}

.breakdown{
    display: flex;
    justify-content: space-between;
    border-top: dotted 2px #A9A9A9;
}

.payment-breakdown h4{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.total{
    padding-right: 5px;
}

.payment-breakdown button{
    height: 50px;
    border-radius: 15px;
    width: 110px;
    margin: 5px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 13px;
}

.cancel-btn{
    background-color: #EC5A5A;
}

.place-order-btn{
    background-color: #B1CED4;
}


.custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    margin: 30px auto;
    max-width: 97%;
  }
  .custom-model-wrap {
    display: block;
    width: 100%;
    height: 50vh;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
      overflow-y: auto;
  }
  .model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
  }
  .model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }
  .bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #fff;
  }

  
@media screen and (min-width:800px){
	.custom-model-main:before {
	  content: "";
	  display: inline-block;
	  height: auto;
	  vertical-align: middle;
	  margin-right: -0px;
	  height: 100%;
	}
}
@media screen and (max-width:799px){
  .custom-model-inner{margin-top: 45px;}
}


.pop-up-content-wrap{
    padding: 10px 50px;
}

.pop-up-content-wrap h2{
    color: #2E636E;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}

#payment-form{
    line-height: 30px;
}

#payment-form input{
    margin: 0;
    width: 100%;
}